@import "../base/Panel-parameters.css";

:root {
	--_kengine_panel_header_padding_right: 1rem;
	--_kengine_panel_header_height: 3rem;
}

[data-kengine-compact-size],
.kengine-content-density-compact,
.sapUiSizeCompact {
	--_kengine_panel_header_height: 2rem;
}