:root {
	--_kengine_daypicker_item_box_shadow: inset 0 0 0 0.0625rem var(--sapContent_Selected_ForegroundColor);
	--_kengine_daypicker_item_margin: 2px;
	--_kengine_daypicker_item_border: none;
	--_kengine_daypicker_item_selected_border_color: var(--sapList_Background);
	--_kengine_daypicker_daynames_container_height: 2rem;
	--_kengine_daypicker_weeknumbers_container_padding_top: 2rem;
	--_kengine_daypicker_item_othermonth_background_color: var(--sapList_Background);
	--_kengine_daypicker_item_othermonth_color: var(--sapContent_LabelColor);
	--_kengine_daypicker_item_othermonth_hover_color: var(--sapContent_LabelColor);
	--_kengine_daypicker_item_border_radius: 0;
	--_kengine_daypicker_item_now_inner_border_radius: 0;
	--_kengine_daypicker_dayname_color: var(--sapTextColor);
	--_kengine_daypicker_weekname_color: var(--sapTextColor);
	--_kengine_daypicker_item_outline_width: 1px;
	--_kengine_daypicker_item_outline_offset: 1px;
	--_kengine_daypicker_item_now_selected_outline_offset: 2px;
	--_kengine_daypicker_item_now_focus_after_width: calc(100% - .25rem);
	--_kengine_daypicker_item_now_focus_after_height: calc(100% - .25rem);
	--_kengine_daypicker_item_now_selected_focus_after_width: calc(100% - .375rem);
	--_kengine_daypicker_item_now_selected_focus_after_height: calc(100% - .375rem);
	--_kengine_daypicker_item_selected_background: transparent;
	--_kengine_daypicker_item_selected_box_shadow: var(--_kengine_daypicker_item_box_shadow), var(--_kengine_daypicker_item_box_shadow);
	--_kengine_daypicker_item_selected_daytext_hover_background: transparent;
	--_kengine_daypicker_item_outline_focus_after: none;
	--_kengine_daypicker_item_border_radius_focus_after: none;
	--_kengine_daypicker_item_border_focus_after: var(--_kengine_daypicker_item_outline_width) dotted var(--sapContent_FocusColor);
	--_kengine_daypicker_item_width_focus_after: calc(100% - 0.25rem);
	--_kengine_daypicker_item_height_focus_after: calc(100% - 0.25rem);
	--_kengine_daypicker_item_now_border: 0.125rem solid var(--sapLegend_CurrentDateTime);
	--_kengine_daypicker_item_now_outline: none;
	--_kengine_daypicker_item_now_outline_offset: none;
	--_kengine_daypicker_item_now_outline_offset_focus_after: var(--_kengine_daypicker_item_now_outline_offset);
	--_kengine_daypicker_item_selected_between_border: 5%;
	--_kengine_daypicker_item_selected_between_background: transparent;
	--_kengine_daypicker_item_selected_between_text_background: var(--sapList_SelectionBackgroundColor);
	--_kengine_daypicker_item_selected_between_text_font: inherit;
	--_kengine_daypicker_item_selected_between_hover_background: inherit;
	--_kengine_daypicker_item_now_box_shadow: inset 0 0 0 0.0625rem var(--_kengine_daypicker_item_selected_border_color);
	--_kengine_daypicker_item_selected_text_outline: none;
	--_kengine_daypicker_item_now_not_selected_inset: 0;
	--_kengine_daypicker_item_now_inset: 0.1875rem;
	--_kengine_daypicker_item_now_border_color: var(--sapLegend_CurrentDateTime);
	--_kengine_daypicker_item_weeekend_filter: brightness(100%);
	--_kengine_daypicker_item_selected_hover: var(--sapContent_Selected_Hover_Background);
	--_kengine_daypicker_item_border_radius_item: none;
	--_kengine_daypicker_item_now_selected_outline_offset: -0.3125rem;
	--_kengine_daypicker_two_calendar_item_now_inset: 0.1875rem;
	--_kengine_daypicker_item_selected__secondary_type_text_outline: none;
	--_kengine_daypicker_two_calendar_item_now_day_text_content: none;
	--_kengine_daypicker_two_calendar_item_now_selected_border_width: 0.0625rem;
	--_kengine_daypicker_two_calendar_item_border_radius: 0.3125rem;
	--_kengine_daypicker_two_calendar_item_border_focus_border_radius: 0rem;
	--_kengine_daypicker_two_calendar_item_no_selected_inset: 0.125rem;
	--_kengine_daypicker_two_calendar_item_selected_now_border_radius_focus: 0.0625rem;
	--_kengine_daypicker_two_calendar_item_no_selected_focus_inset: 0.125rem;
	--_kengine_daypicker_two_calendar_item_no_select_focus_border_radius: 0.0625rem;
	--_kengine_dp_two_calendar_item_secondary_text_border_radios: 0.25rem;
	--_kengine_daypicker_two_calendar_item_now_selected_border_inset: 0.125rem;
}
