:root {
	--_kengine_popover_background: var(--sapGroup_ContentBackground);
	--_kengine_popover_box_shadow: var(--sapContent_Shadow2);
	--_kengine_popover_no_arrow_box_shadow: var(--sapContent_Shadow1);
}