@import "../base/Table-parameters.css";

:root {
	--kengine_table_header_row_outline_width: var(--sapContent_FocusWidth);
	--kengine_table_header_row_font_weight: bold;
	--kengine_table_header_row_font_family:  var(--sapFontSemiboldDuplexFamily);
	--kengine_table_header_row_border_bottom_color: var(--sapList_HeaderBorderColor);
	--kengine_table_focus_outline_offset: -0.1875rem;
}