@import "../base/Table-parameters.css";

:root {
	--kengine_table_header_row_outline_width: 0.125rem;
	--kengine_table_header_row_font_weight: bold;
	--kengine_table_header_row_border_bottom_color: var(--sapList_HeaderBorderColor);
	--kengine_table_focus_outline_offset: -0.1875rem;
	--kengine_table_header_row_border_width: 0.1875rem;
}