@import "../base/ToggleButton-parameters.css";

:root {
	--_kengine_toggle_button_pressed_focussed: transparent;
	--_kengine_toggle_button_pressed_focussed_hovered: transparent;
	--_kengine_toggle_button_emphasized_pressed_focussed_hovered: var(--sapContent_ContrastFocusColor);
}