@import "../base/sizes-parameters.css";

:root {
	--_kengine_textarea_padding_top: 0.5rem;
	--_kengine_textarea_padding_bottom: 0.4375rem;

	/* SplitButton */
	--_kengine_split_button_middle_separator_top: 0.625rem;
	--_kengine_split_button_middle_separator_height: 1rem;

	/* ColorPalette */
	--_kengine_color-palette-item-height: 1.75rem;
	--_kengine_color-palette-item-hover-height: 2.25rem;
	--_kengine_color-palette-item-margin: calc(((var(--_kengine_color-palette-item-hover-height) - var(--_kengine_color-palette-item-height)) / 2) + 0.0625rem);
	--_kengine_color-palette-row-width: 12rem;
}

[data-kengine-compact-size],
.kengine-content-density-compact,
.sapUiSizeCompact {
	--_kengine_textarea_padding_top: 0.1875rem;
	--_kengine_textarea_padding_bottom: 0.125rem;

	--_kengine_radio_button_focus_dist: 0.25rem;
	--_kengine_checkbox_focus_position: 0.25rem;

	/* SplitButton */
	--_kengine_split_button_middle_separator_top: 0.3125rem;
	--_kengine_split_button_middle_separator_height: 1rem;

	/* ColorPalette */
	--_kengine_color-palette-item-height: 1.25rem;
	--_kengine_color-palette-item-focus-height: 1rem;
	--_kengine_color-palette-item-container-sides-padding: 0.1875rem;
	--_kengine_color-palette-item-container-rows-padding: 0.8125rem;
	--_kengine_color-palette-item-hover-height: 1.625rem;
	--_kengine_color-palette-item-margin: calc(((var(--_kengine_color-palette-item-hover-height) - var(--_kengine_color-palette-item-height)) / 2) + 0.0625rem);
	--_kengine_color-palette-row-width: 8.75rem;
	--_kengine_color-palette-swatch-container-padding: 0.1875rem 0.5rem;
	--_kengine_color-palette-item-hover-margin: 0.0625rem;
	--_kengine_color-palette-row-height: 7.5rem;
	--_kengine_color-palette-button-height: 2rem;
	--_kengine_color-palette-item-before-focus-offset: -0.25rem;
	--_kengine_color-palette-item-after-focus-offset: -0.125rem;
	--_kengine_color_picker_slider_container_margin_top: -9px;
}