@import "../base/SegmentedButtton-parameters.css";

:root {
	--_kengine_segmented_btn_inner_border: 0.0625rem solid var(--sapButton_Selected_BorderColor);
	--_kengine_segmented_btn_inner_border_odd_child: 0.0625rem solid transparent;
	--_kengine_segmented_btn_inner_pressed_border_odd_child: 0.0625rem solid var(--sapButton_Selected_BorderColor);
	--_kengine_segmented_btn_inner_border_radius: 0;
}